# Mysql config file

# The MySQL server
[mysqld]
basedir = /usr/local/mysql
datadir = /data/mysql
socket	= /tmp/mysql.sock
pid-file = /data/mysql/mysql.pid

character-set-server = utf8
collation-server = utf8_general_ci
user = mysql
port = 3306

default_storage_engine = InnoDB
innodb_file_per_table = 1
server-id = 1
log-bin=mysql-bin
binlog_format = mixed
expire_logs_days = 7

skip-name-resolve
skip-host-cache
skip-external-locking

key_buffer_size = 512M
max_allowed_packet = 1M
table_open_cache = 512
sort_buffer_size = 2M
read_buffer_size = 2M
read_rnd_buffer_size = 8M
myisam_sort_buffer_size = 64M
thread_cache_size = 8
query_cache_size = 32M
query_cache_type = 1
thread_concurrency = 8

log_error = /var/log/mysql/mysql-error.log
long_query_time = 1
slow_query_log
slow_query_log_file = /var/log/mysql/mysql-slow.log

max_connections = 1000
bind-address= 0.0.0.0

[client]
default-character-set = utf8
port = 3306
socket = /tmp/mysql.sock
